#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=WinT Messenger
Comment=Simple and lightweight IM client/server
TryExec=wint-messenger
Exec=wint-messenger
Icon=wint-messenger
Categories=QT;QML;Messaging;Messenger;Social;Network;
StartupNotify=true

